/TroutStreamMangler/TroutStreamMangler/obj
/TroutStreamMangler/TroutStreamMangler/bin
/TroutStreamMangler/TroutDash.TroutStreamExporter.Test/bin
/TroutStreamMangler/TroutDash.TroutStreamExporter.Test/obj
/TroutStreamMangler/TroutDash.TroutStreamExporter/obj
/TroutStreamMangler/TroutDash.TroutStreamExporter/bin
/TroutStreamMangler/TroutDash.EntityFrameworkData/obj
/TroutStreamMangler/TroutDash.EntityFramework/obj
/TroutStreamMangler/TroutDash.EntityFramework/bin
/TroutStreamMangler/TroutDash.DatabaseImporter.Convention.Test/obj
/TroutStreamMangler/TroutDash.DatabaseImporter.Convention/obj
/TroutStreamMangler/TroutDash.DatabaseImporter/obj
/TroutStreamMangler/TroutStreamMangler/MN/Data
/TroutStreamMangler/TroutDash.DatabaseImporter.Convention.Test/bin
/TroutStreamMangler/TroutStreamMangler/US/Data
/TroutStreamMangler/*.suo
/TroutStreamMangler/TroutDash.DatabaseImporter/bin
/TroutStreamMangler/TroutDash.DatabaseImporter.Convention/bin
/TroutStreamMangler/TroudDash.GIS/obj
/TroutStreamMangler/TroudDash.GIS/bin
/TroutStreamMangler/TroutStreamMangler.Test/bin
/TroutStreamMangler/TroutStreamMangler.Test/obj
/TroutStreamMangler/TroutStreamMangler/TroutStreamMangler.csproj.user
/TroutStreamMangler/TroutDash.EntityFramework/TroutDash.EntityFramework.csproj.user
/TroutStreamMangler/TroutStreamMangler.sln.DotSettings.user
/TroutStreamMangler/TroutDash.DatabaseImporter.Convention.Test/TroutDash.DatabaseImporter.Convention.Test.csproj.user
