<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Autofac.Extras.FakeItEasy" version="3.0.2" targetFramework="net45" />
  <package id="Caliburn.Micro" version="2.0.1" targetFramework="net45" />
  <package id="Caliburn.Micro.Core" version="2.0.1" targetFramework="net45" />
  <package id="CsvHelper" version="2.10.0" targetFramework="net45" />
  <package id="dotConnect.Express.for.PostgreSQL" version="7.3.254" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="FakeItEasy" version="1.18.0" targetFramework="net45" />
  <package id="GeoAPI" version="1.7.3" targetFramework="net45" />
  <package id="ManyConsole" version="0.4.2.17" targetFramework="net45" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net45" />
  <package id="NetTopologySuite" version="1.13.3.2" targetFramework="net45" />
  <package id="NetTopologySuite.IO.PostGis" version="1.13.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="Npgsql" version="2.2.1" targetFramework="net45" />
  <package id="Npgsql.EntityFramework" version="2.2.1" targetFramework="net45" />
</packages>