<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TroutDash" connectionString="server=localhost;user id=postgres;password=fakepassword;database=TroutDash" providerName="Npgsql" />
    <add name="test_mn_import" connectionString="server=localhost;user id=postgres;password=fakepassword;database=test_mn_import" providerName="Npgsql" />
    <add name="test_us_import" connectionString="server=localhost;user id=postgres;password=fakepassword;database=test_us_import" providerName="Npgsql" />
  </connectionStrings>
  <!--  <system.data>-->
  <!--    <DbProviderFactories>-->
  <!--      ~1~for EF4.x and EF6.0.x @1@-->
  <!--      ~1~you may need this. if you don't modify machine.config@1@-->
  <!--      <remove invariant="Npgsql" />-->
  <!--      <add name="Npgsql - .Net Data Provider for PostgreSQL" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.2.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />-->
  <!--    </DbProviderFactories>-->
  <!--  </system.data>-->
  <!--~1~  <entityFramework>@1@-->
  <!--~1~    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">@1@-->
  <!--~1~      <parameters>@1@-->
  <!--~1~        <parameter value="v11.0" />@1@-->
  <!--~1~      </parameters>@1@-->
  <!--~1~    </defaultConnectionFactory>@1@-->
  <!--~1~    <providers>@1@-->
  <!--~1~      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />@1@-->
  <!--~1~    </providers>@1@-->
  <!--~1~  </entityFramework>@1@-->
  <!--  <entityFramework>-->
  <!--    <providers>-->
  <!--      ~1~for EF6.0.x @1@-->
  <!--      ~1~you need this. add it manually@1@-->
  <!--      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFrameworkLegacy, Version=2.2.3.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" />-->
  <!--    </providers>-->
  <!--  </entityFramework>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, Npgsql.EntityFramework" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql" />
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" support="FF" />
    </DbProviderFactories>
  </system.data>
</configuration>